<html>
    <body>
<div class="site-section site-section-sm site-blocks-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-truck"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">تسوق مجاني</h2>
                    <p>تسوق من موقعي بشكل مجاني وبشكل غير مدفوع</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-refresh2"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">اعادة مجانية</h2>
                    <p>يمكنك استرداد اموالك وبدون عمولة.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-help"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">دعم العملاء</h2>
                    <p>من خلال التسهيلات التي يقدمها الموقع</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>قسم الالبسة الرجالية</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="nonloop-block-3 owl-carousel">
                    <div class="item">
                        <div class="block-4 text-center">
                            <figure class="block-4-image">
                                <img src="images/gussi hoddy.jpeg" alt="Image placeholder" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4">
                                    <h3><a href="#">pajamas</a></h3>
                                <p class="mb-0">بيجامة رجالية متوفر عدة مقاسات</p>
                                <p class="text-primary font-weight-bold">90$</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-4 text-center">
                            <figure class="block-4-image">
                                <img src="images/hoody lacoste.jpeg" alt="Image placeholder" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4">
                                    <h3><a href="#">Hoodie sweater</a></h3>
                                <p class="mb-0">متوفر عدة مقاسات والوان</p>
                                <p class="text-primary font-weight-bold">50$</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-4 text-center">
                            <figure class="block-4-image">
                                <img src="images/hugo hoddy.jpeg" alt="Image placeholder" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4">
                                    <h3><a href="#">Hoodie sweater</a></h3>
                                <p class="mb-0">جودة عالية </p>
                                <p class="text-primary font-weight-bold">50$</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-4 text-center">
                            <figure class="block-4-image">
                                <img src="images/lacoste shirt.jpeg" alt="Image placeholder" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="#">T-SHIRT</a></h3>
                                <p class="mb-0">كنزة بولو جودة عالية</p>
                                <p class="text-primary font-weight-bold">60$</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-4 text-center">
                            <figure class="block-4-image">
                                <img src="images/shoes nike.jpeg" alt="Image placeholder" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="#">SHOES</a></h3>
                                <p class="mb-0">حذاء رياضي جودة عالية</p>
                                <p class="text-primary font-weight-bold">56$</p>
                            </div>
                        </div>
                    </div>
                        <div class="item">
                            <div class="block-4 text-center">
                                <figure class="block-4-image">
                                    <img src="images/shose adidas.jpeg" alt="Image placeholder" class="img-fluid">
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="#">SHOESE</a></h3>
                                    <p class="mb-0">حذاء رياضي جودة عالية</p>
                                    <p class="text-primary font-weight-bold">90$</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-4 text-center">
                                <figure class="block-4-image">
                                    <img src="images/T-SHIRT ADIDAS.jpeg" alt="Image placeholder" class="img-fluid">
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="#">T-SHIRT</a></h3>
                                    <p class="mb-0">كنزة بجودة عالية</p>
                                    <p class="text-primary font-weight-bold">59$</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-4 text-center">
                                <figure class="block-4-image">
                                    <img src="images/ghgkj.jpeg" alt="Image placeholder" class="img-fluid">
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="#">T-SHIRT</a></h3>
                                    <p class="mb-0">قماشة خفيفة وبجودة عالية</p>
                                    <p class="text-primary font-weight-bold">500$</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-4 text-center">
                                <figure class="block-4-image">
                                    <img src="images/zaraaaa.jpg" alt="Image placeholder" class="img-fluid">
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="#">Jacket & shoes</a></h3>
                                    <p class="mb-0">جاكيت جلد قماشة جيدة</p>
                                    <p class="text-primary font-weight-bold">50$</p>
                                </div>
                            </div>
                        </div>
                 </div>   
                        
            </div>
        </div>
    </div>
</div>

<div class="site-section block-8">
    <div class="container">
        <div class="row justify-content-center  mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Big Sale!</h2>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-7 mb-5">
                <a href="#"><img src="images/gussi hoddy.jpeg" alt="Image placeholder" class="img-fluid rounded"></a>
            </div>
            <div class="col-md-12 col-lg-5 text-center pl-md-5">
                <h2><a href="#">50% تخفيضات قد تصل الى</a></h2>
                <p class="post-meta mb-4">By  <span class="block-8-sep">&bullet;</span> December /3/2025</p>
                <p>استفد من عروض التخفيضات قبل انتهاء المدة المحددة</p>
                <p><a href="#" class="btn btn-primary btn-sm">تسوق الان</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>